.header {
  display: table;
  width: 100%;
  height: 100%;
}

.header > .logo {
  padding: 25px;
  cursor: pointer;
  transition: color 0.2 ease-in-out;
  display: table-cell;
  width: 20%;
  font-weight: bold;
  background-color: #0c0c0c;
}

.header > .logo:hover {
  color: #FF0000;
}

.header > .logo > i {
  margin-right: 15px;
}

.header > .search {
  display: table-cell;
  padding-left: 25px;
}

.header > .logout {
  text-align: right;
  padding-right: 25px;
}

.header > .logout > .fa-sign-out {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.header > .logout > .fa-sign-out:hover {
  color: #FF0000;
}
